.topSection {
    display: flex;
    align-items: center;
    background: #466368;
    padding: 15px;
}

.profilePic {
    border-radius: 50%;
    background-color: orange;
}

.aweSomeDev {
    border-radius: 50%;
}

.basicInfo {
    margin-left: 25px;
}

.basicInfo > h1 {
    font-size: 30px;
    color: #fff;
}

.basicInfo > p {
    font-size: 18px;
    color: #fff;
}

.contactInfo {
    list-style: none;
}

.contactInfo > li > span {
    margin-left: 10px ;
    color: #fff;
}

.contactInfo > li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contactInfo > li > i,
.projectLink > a > i
{
    position: relative;
    top: 3px;
}

.contactInfoSection {
    margin-left: auto;
    margin-right: 15px;
}

.cvContent {
    background-color: #f5f5f5;
}

.cvContent > h2 {
   background-color: black;
   color: white;
   padding: 15px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.cvContent > p {
    margin: 0;  
    padding: 15px;
}

/* work exp */
.workExp {
   /* margin-bottom: 10px; */
   padding: 15px;
   background-color: #f5f5f5;
   /* background: #466368; */
}

.workExp > h3 {
    margin: 0;
}

.workExpSpan {
    display: block;
    margin-bottom: 3px;
}

.exp{
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}

.exp > ul {
   margin-top: 5px;
}

.projectLink:hover {
    color: blue;
}

/* edu */
.edu{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    /* margin-bottom: 15px; */
}

.eduYear{
    /* width: 10%; */
    padding: 15px;
    margin-right: 5px;
}

.eduDivider {
    /* width: 5%; */
    padding: 15px;
    margin-right: 5px;
}

.eduYear > span {
    display: block;
    text-align: right;
    font-size: 18px;
}

.eduSchoolMajor{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.eduSchoolMajor > span {
    font-size: 18px;
}

/* certificates */
.certificates{
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.certificates > ul {
    margin: 0px;
}

@media screen and (max-width: 650px) {
    .topSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .basicInfo {
        margin: 0%;
        text-align: center;
    }
    .basicInfo > p,
    .basicInfo > h1 
    {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contactInfoSection {
        margin: 0%;
        width: 100%;
    }
    .contactInfo {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
    }
    .contactInfo > ul {
        margin-left: 0;
    }
    .contactInfo > li > span,
    .contactInfo > li > span > a
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .contactInfo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactInfo > li
    {
        margin: 5px;
        padding: 0;        
    }
    .contactInfo > li > span > a,
    .contactInfo > li > span {
        font-size: 18px;
    }
}

