.myFooter {
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    clear: both;
    position: relative;
}

.myFooter > p {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}