.nav {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.nav > div > h1 {
    margin-left: 15px;
    cursor: pointer;
}

.navBar {
    padding: 0%;
    margin-left: auto;
    display: flex;
    list-style: none; 
    justify-content: flex-end;
}

.navItem {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
